.mat-snack-bar-handset .mat-snack-bar-container {
    &.error,
    &.warn,
    &.info {
        margin: 0 auto;
        text-align: center;
        width: calc(100% - #{map-get($gutters, 'sm') * 2});

        .mat-simple-snackbar {
            justify-content: center;
        }
    }

    // TODO: determine if there is a way to stylistically differentiate between error & warn, 
    // while keeping any action buttons consistent 
}