// styles to be moved to appropriate SCSS files

footer {
    bottom: 0;
    margin: 10px 10px 0;
    position: absolute;
    text-align: center;
    width: calc(100% - 20px);
}

.wrapper {
    min-height: 100%;
    padding-bottom: 150px;
    position: relative;
}

.intro {
    text-align: center;
}

.mat-card {
    margin-bottom: 10px;
}

.mat-card.city-card {
    margin: 10px;
}

mat-form-field.cities-input {
    display: block;
    margin: 0 auto;
    width: calc(100% - 20px);
}