/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    margin: 0;
}

footer {
    bottom: 0;
    margin: 10px 10px 0;
    position: absolute;
    text-align: center;
    width: calc(100% - 20px);
}

.wrapper {
    min-height: calc(100vh - 150px);
    padding-bottom: 150px;
    position: relative;
}

.intro {
    text-align: center;
}

.mat-card {
    margin-bottom: 10px;
}

.mat-card.city-card {
    margin: 10px;
}

mat-form-field.cities-input {
    display: block;
    margin: 0 auto;
    width: calc(100% - 20px);
}


.red {
    color: red;
}
.green {
    color: green;
}
.orange {
    color: orange;
}
.dark-red {
    color: #610000;
}