// application-wide Sass variables

//// fonts
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


//// colors
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// @type Color
$white: rgb(255, 255, 255) !default;


//// container
/// @type Length
$max-width: 1180px !default;


//// breakpoints
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
    'small': 320px,
    'medium': 768px,
    'large': 1024px,
) !default;


//// urls
/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
