<div class="onboarding"
    (panstart)="onPanStart($event)"
    (panright)="onPan($event)"
    (panleft)="onPan($event)"
    (panend)="onPanEnd($event)">
    <div class="onboarding-carousel"
        [ngClass]="carouselTransition"
        [style.transform]="carouselX"
        #carousel>
        <aq-onboarding-slides></aq-onboarding-slides>
    </div>
    <div class="onboarding-carousel background-only"
        [ngClass]="carouselTransition"
        [style.transform]="carouselX">
        <aq-onboarding-slides></aq-onboarding-slides>
    </div>
    <div class="skyline skyline-foreground" 
        [ngClass]="skylineTransition"
        [style.transform]="skylineForegroundX"></div>
    <div class="skyline skyline-midground" 
        [ngClass]="skylineTransition"
        [style.transform]="skylineMidgroundX"></div>
    <div class="skyline skyline-background"
        [ngClass]="skylineTransition"
        [style.transform]="skylineBackgroundX"></div>
</div>