<mat-card class="city-card">
    <div>
        <div class="city-map-background"
            *ngIf="staticMapsURL"
            [ngStyle]="{'background-image': 'url(' + staticMapsURL + ')'}"
            [@fade]></div> 
    </div>        
    <mat-card-header [ngClass]="'bg-0-7-' + overallAQIClass">
        <aq-aqi-indicator [AQI]="overallAQI"
            [overall]="true"></aq-aqi-indicator>  
        <div class="city-title">
            <h2>{{searchedCity.city | uppercase}}</h2>
            <h5>{{searchedCity.country | countryName | uppercase}}</h5>
        </div>
        <button class="favorite-button"
            mat-icon-button 
            (click)="toggleFavorite()">
            <mat-icon aria-label="Set as a favorite city">{{favoriteIcon}}</mat-icon>
        </button>
        <button class="expand-button"
            mat-icon-button 
            (click)="toggleContent()">
            <mat-icon aria-label="Additional city options">{{expandIcon}}</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content class="bg-0-7-white" [ngClass]="contentClass">
        <mat-icon aria-label="Date retrieved" 
            class="timestamp-indicator"
            [matTooltip]="retrievedMsg"
            matTooltipPosition="before"
            matTooltipShowDelay="50"
            matTooltipHideDelay="500">access_time</mat-icon>
        <div class="parameter-averages">
            <aq-parameter-average-indicator *ngFor="let average of parameterAverages"
                [average]="average"></aq-parameter-average-indicator>
        </div>
    </mat-card-content>
</mat-card>