<mat-card class="city-card" 
    [ngStyle]="{'background-image': 'url(' + staticMapsURL + ')'}" >    
    <mat-card-header [ngClass]="'bg-0-7-' + overallAQIClass()">
        <aq-aqi-indicator [AQI]="overallAQI"
            [overall]="true"></aq-aqi-indicator>  
        <div class="city-title">
            <h2>{{searchedCity.city | uppercase}}</h2>
            <h5>{{searchedCity.country | countryName | uppercase}}</h5>
        </div>
    </mat-card-header>
    <mat-card-content class="bg-0-7-white">
        <div *ngFor="let aqi of aqis" class="aqi-indicator">
            <span>{{aqi.value}}</span>
            <span class="aqi-name">{{aqi.parameter}}</span>
        </div>
    </mat-card-content>
</mat-card>