$delete-button-width: 75px !default;

.slide-delete-wrapper {    
    display: block;
    position: relative;

    .slide-delete-background {
        background-color: $dark-grey;
        position: absolute;
        height: 100%;
        width: calc(100% - #{map-get($gutters, 'sm') * 2});
        left: map-get($gutters, 'sm');
        z-index: map-get($z-index-levels, 'background');
    }

    .delete-button {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        position: absolute;
        top: 0;
        width: $delete-button-width;
        z-index: map-get($z-index-levels, 'background');

           
        $directions: 'left' 'right';
        @each $direction in $directions {
            &.#{$direction} { 
                #{$direction}: map-get($gutters, 'sm');
            }
        }

        .mat-button {
            color: $white;
            height: 100%;
            min-width: auto;
            width: 100%;
        }
    }
    
    .slidable {
        position: relative;
        z-index: map-get($z-index-levels, 'foreground-1');
    }
}

.transition-left {
    transition: left map-get($transition-speeds, 'very-fast');
}