.mat-icon-button.cities-search-button {
    color: rgba($black, 0.54);
    position: absolute;
    right: 0;
    top: 0;
}

.auto-city {
    font-size: 16px;
}

.auto-country {
    font-size: 12px;
}
