.banner-wrapper {
    display: flex;
    flex-direction: row-reverse;
    height: 40px;
    width: 100%;

    button.mat-icon-button {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .banner-color {
        flex: 1 auto;
        height: 40px;
        box-shadow: 1px 1px 10px -1px $dark-grey;
        position: relative;
    }
}