// styles for home > home.component
.settings-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: map-get($z-index-levels, 'foreground-2');
}

.onboarding-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: map-get($z-index-levels, 'foreground-1');
}