/// @type Length
$skyline-height: 160px;

/// @type Length
$skyline-foreground-height: $skyline-height * 0.6;

aq-intro {
    height: 100%;
    position: relative;

    mat-card.mat-card {
        height: 100%;
        padding: 0;
    }

    .text-content {
        height: 100%;
        padding-bottom: calc(#{$skyline-foreground-height} + 15px);
        position: relative;
        z-index: map-get($z-index-levels, 'midground-1');

        h1 { 
            font-weight: 400;
            margin-top: 0; 
            padding-top: 15px;
        }
        h3 { 
            font-weight: 400;
            margin-bottom: 0; 
        }
    }

    .skyline {
        background-size: auto $skyline-height;
        background-repeat: repeat-x;
        background-position: center bottom;
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;

        &.skyline-foreground {
            background-image: url('../assets/icons/skyline-foreground.svg');
            z-index: map-get($z-index-levels, 'midground-2');
        }
        &.skyline-midground {
            background-image: url('../assets/icons/skyline-midground.svg');
            z-index: map-get($z-index-levels, 'base');
        }
        &.skyline-background {
            background-image: url('../assets/icons/skyline-background.svg');
            z-index: map-get($z-index-levels, 'background');
        }
    }
}