<div>
    <form>
        <mat-form-field>
            <input (keyup.enter)="addToSearchedCities($event)" class="cities-input" matInput placeholder="City" aria-label="City" [matAutocomplete]="auto" [formControl]="cityCtrl">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let city of filteredCities | async" [value]="city.city">
                    <span>{{city.city}}</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
    <mat-card *ngFor="let city of searchedCities" [ngClass]="getClass(city)">
        <h1 *ngIf="city">{{city.city}}</h1>
        <h2 *ngIf="city.measurements && city.measurements[0]">
            {{city.measurements[0].parameter}}: {{city.measurements[0].value}}
        </h2>
    </mat-card>
</div>