<form [formGroup]="searchForm">
    <mat-form-field class="cities-input">
        <input 
            matInput
            placeholder="Search for Cities"
            aria-label="Search for Cities"
            formControlName="searchInput"
            [matAutocomplete]="auto"
            (keyup.enter)="attemptSearch()"
            (focus)="onFocus()"
            (blur)="onBlur()"
            aq-uppercase>   
        <mat-progress-bar *ngIf="searching" 
            color="accent"
            mode="indeterminate"></mat-progress-bar>     
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="attemptSearch()">
            <mat-option *ngFor="let city of filteredCities | async" [value]="city.city">
                <span class="auto-city">{{city.city | uppercase}}</span>
                <span class="auto-country">{{city.country | countryName | uppercase}}</span>
            </mat-option>
        </mat-autocomplete>        
    </mat-form-field>    
</form>