mat-card.city-card {
    margin: 10px;
    background-size: cover;
    background-position: center;
    padding: 0;

    mat-card-header,
    mat-card-content {
        padding: 24px;
        position: relative;
        z-index: 10;
    }

    mat-card-header {
        .mat-card-header-text { display: none; }
        
        .city-title {
            display: block;
            flex: 1 70%;

            h2,
            h5 {
                margin: 15px 0;
            }
        }
    }

}