mat-card.city-card {
    margin: 10px;
    background-size: cover;
    background-position: center;
    padding: 0;

    mat-card-header,
    mat-card-content {
        position: relative;
        z-index: 10;
    }

    mat-card-header,
    .aqi-indicator-badges {
        padding: 10px;
    }

    mat-card-header {
        .mat-card-header-text { display: none; }
        
        .city-title {
            display: block;
            flex: 1 70%;

            h2,
            h5 { 
                font-weight: 400;
                margin: 0; 
            }

            h2 { font-size: 24px; }

            h5 { font-size: 16px; }
        }
    }

    mat-card-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s ease-out;
    }

}