<div>
    This is the home component. {{testMsg}}
    <button mat-button (click)="loadCities()">Load Cities</button>

    <br/>
    <mat-card *ngIf="latestInfo">
        <h2>Latest Info for: {{latestInfo.city}}</h2>
        <ul *ngIf="latestInfo.measurements">
            <li *ngFor="let measurement of latestInfo.measurements">
                {{measurement.parameter}}
                {{measurement.value}}
            </li>
        </ul>
    </mat-card>
    <mat-card *ngFor="let city of allCities">
        <h1>{{city.city}}</h1>
        <button mat-button (click)="loadLatest(city.city)">Get Latest Info</button>
    </mat-card>
</div>