<button mat-raised-button
    color="accent"
    *ngIf="settingItemsVisible && hasFavorites"
    (click)="goToFavorites()"
    [@fadeSlideUp]>
    <mat-icon aria-label="View favorite cities">favorite</mat-icon> GO TO FAVORITES
</button>
<button mat-raised-button
    color="accent"
    *ngIf="settingItemsVisible"
    (click)="resetFavorites()"
    [@fadeSlideUp]>
    <mat-icon aria-label="View favorite cities">favorite_border</mat-icon> RESET FAVORITES
</button>
<button mat-raised-button
    color="accent"
    *ngIf="settingItemsVisible"
    (click)="clearAll()"
    [@fadeSlideUp]>
    <mat-icon aria-label="Clear all cities from view">clear_all</mat-icon> CLEAR VIEW
</button>
<button mat-fab
    (click)="toggleSettingItems()">
    <mat-icon aria-label="Open app settings"
        class="settings-icon"
        *ngIf="!settingItemsVisible"
        [@fade]>storage</mat-icon>
    <mat-icon aria-label="Close app settings"
        class="settings-icon"
        *ngIf="settingItemsVisible"
        [@fade]>close</mat-icon>
</button>